@import url('https://fonts.googleapis.com/css2?family=TikTok+Sans:opsz,wght@12..36,300..900&display=swap');


html{
  background-color: #181825;
  color: white;
}

*{
  font-family: "TikTok Sans", sans-serif;
}

button{
    background-color: #00000000;
    border: none;
}

#text{
    margin: {
        left: 10vw;
    };
   
    .block{
        width: 20vw;
        margin: {
            right: 5vw;
        };     
    }    
}

img{
    
    border-radius: 1em 1em 0em 0em;
    // border: solid .2em #515782;
    // box-shadow: .1em .1em 1em .1em #000;
}