#bar{
    color: #f5bde6;
    display: flex;
    justify-content: space-between;
    align-content: center; 
    
    margin: {
        left: 2vw;
        right: 2vw;
        bottom: 0vh;
    };    

    button, a{
        color: #f5bde6;
        background-color: #00000000;
        text-decoration: none;
        padding: none;
        border: none;

        &:hover{
            transition: all .3s ease;
            color: #ff94e3;
            text-decoration: underline;
        }
    }
    
    #left, #right, #middle{
        margin-top: 1vh;
    }

    #left, #right{
        width: 5vw;
    }
    
    #middle{
        width: 10vw;
    }

    div{
        background-color: #515782;

        padding: {
            left: 1vw;
            right: 1vw;
            top: .2vw;
            bottom: .2vw;
        };

        


        text-align: center;

        border-radius: 0.2em;

        display: flex;
        justify-content: space-evenly;

        
    }
}

body{
    margin-top: 0px;
}

#top-banner{
    // background-image: url("https://cdn2.unrealengine.com/fortnite-blitz-royale-1920x1080-9946411a3a9f.jpg");
    background-color: #242438;
    height: 20vh;
    width: 100vw;

    h1{
        font-size: 3em;
        margin: 0px;
        text-align: center;
    }

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    
}